.projects__container {
  margin: 4em 0;
}

.projects__project {
  display: flex;
  justify-content: center;
}

.projects__project-img {
  width: 100%;
}

.projects__project-img:hover {
  cursor: pointer;
}
