.projects__container {
  margin: 4em 0;
}

.projects__project {
  display: flex;
  justify-content: center;
}

.projects__project-img {
  max-width: 100%;
  max-height: 320px;
  border-radius: 4px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.projects__project-img:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .projects__project {
    display: initial;
    justify-content: initial;
  }
}